spring:
  application:
    name: SaludConecta

  datasource:
    url: jdbc:postgresql://localhost:5432/saludconectadb
    username:
    password:
    driver-class-name: org.postgresql.Driver

  jooq:
    sql-dialect: POSTGRES

  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:

    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

